* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
   
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}


.sobre {
  color: black;
  text-decoration: none;
  transition: 0.3s;

}



body {
 background: url("../images/fundo1.jpg") no-repeat center ;  
 background-size: cover;
 height: 92vh;
 
}

#mostrador{
	margin: auto;
	margin-top: 40px;
	width: 200px;
	height: 80px;

}
.espaco{
  width: 80px;
  height: 60px;
  border: 2px solid #000;
  float: left;
  text-align: center;
  padding-top: 20px;	
}
.tabuleiro{
  width: 492px;
  height: 492px;
	margin: auto;
}
.avatar {
  vertical-align: middle;
  width: 75px;
  height: 80px;
  border-radius: 10%;
  float: left;
}
.persona1 ,.persona2,.persona3,.persona4,.persona5, .persona6,.persona7{

  border-radius: 6% ;
  background-color: rgba(255, 228, 196, 0.904);
  padding: 20px ; 
  width: 325px ;
  height: 128px ;
  margin-left: 15px ;
 
}

.des {
  background-color: rgba(255, 228, 196, 0.747);
  border-radius: 5px;
  width: 300px;
  margin: 30px auto 0 auto;
  opacity: 95%;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display:flex;
  box-sizing: border-box;
  height:238px;
  
  
}
