<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>

    <link rel="stylesheet"  href="../css/style.css">
    
</head>

<header>
        <nav>
          <a class="logo" href="../index.html">Projeto - Jogo da velha</a>
          <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li><a href="../index.html">Início</a></li>
            <li><a href="sobre.html">Sobre os Alunos</a></li>
            <li><a href="jogo.html">Jogo</a></li>           
          </ul>
        </nav>
</header>
        
<body style="background-color: #52adad">     
    
    <Div>
        <pre> <P> <FONT size="3" face="calibri"> <I><b>
                       Caio 
                Aluno do curso de IPI 
        ______________________________
        <br>

                       Fábio 
                Aluno do curso de IPI 
        ______________________________
        <br>

                       Gleiciane 
                Aluna do curso de TSI 
        ______________________________
       <br>

                      João Paulo
                Aluno do curso de TSI
        ______________________________
        <br>
 
                       Jhonatas
                Aluno do curso de IPI 
        ______________________________
        <br>

                       Rita
                Aluna do curso de IPI 
        ______________________________
        <br>

                       Zaqueeu
                Aluno do curso de IPI 
        ______________________________
        </pre>
    </Div>

    
</body>
</html>