<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>

    <link rel="stylesheet"  href="../css/style.css">
    <link rel="stylesheet" href="../css/app.css">
</head>
<header>
<nav>
<div class="hamburger">
    <span class="hamburger__line"></span>
    <span class="hamburger__line"></span>
    <span class="hamburger__line"></span>
    <span class="hamburger__line"></span>
    
</div>
<div class="menu">
    <div class="menu__circle">
        <div class="menu__button menu__left"><</div>
        <div class="menu__button menu__right">></div>
        <div class="menu__overflow">
            <div class="menu__character"></div>
            <div class="menu__background">
                <a class="menu__box" href="../index.html">
                    <div class="menu__logo">
                        <h1 class="menu__title">Home</h1>
                        
                    </div>
                </a>                        

                <a class="menu__box" href="jogo.html">
                    <div class="menu__item">Jogo Da Velha</div>
                </a>
                <a class="menu__box" href="sobre.html">
                    <div class="menu__item">Sobre</div>
                </a>
                <a class="menu__box" href="quemsomos.html">
                    <div class="menu__item">Quem Somos</div>
                </a>
            </div>
        </div>
    </div>
</div>
</nav>        
</header>
        
<body >
    
    <Div>  
        <pre class="persona1" style="float: left; margin-top: 150px; margin-left: 60px;"> 
        <img src="../images/Perfil/Caio.jpg" alt="avatar" class="avatar" style="margin-top: -15px;">
    <b> Caio de Sousa Alves                          
    Aluno do curso de IPI              
        </pre><br>
                                    
        <pre class="persona5" style="float: left; margin-top: 130px;">
        <img src="../images/Perfil/Gleiciane.jpg" alt="avatar" class="avatar">

  Gleiciane Bezerra Galdino da Silva               
         Aluna do curso de TSI           
                   
          </pre><br>
        <pre class="persona2" style="float: left; margin-top: 112px;">
        <img src="../images/Perfil/Jhonatas.jpg" alt="avatar" class="avatar">
       
       Jonatas Cândido de Almeida
          Aluno do Curso de IPI        
          
          </pre><br>

        <pre class="persona7" style="float: left; margin-top: 20px;margin-left: 250px;">
        <img src="../images/Perfil/joaoPaulo.jpg" alt="avatar" class="avatar">

       João Paulo Pereira Da Silva
         Aluno do curso de TSI
                 
             </pre>

        <pre class="persona6" style="float: left; margin-top: 20px;">
        <img src="../images/Perfil/Zaqueu.jpg" alt="avatar" class="avatar">

    Zaqueu Batista da Silva
     Aluno do curso de IPI
        </pre><br>
  
    </Div>
</body>
<script src="../js/app.js"></script>

</html>