<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>

    <link rel="stylesheet"  href="../css/style.css">
    
</head>

<header>
        <nav>
          <a class="logo" href="../index.html">Projeto - Jogo da velha</a>
          <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li><a href="../index.html">Início</a></li>
            <li><a href="sobre.html">Sobre os Alunos</a></li>
            <li><a href="jogo.html">Jogo</a></li>           
          </ul>
        </nav>
</header>
        
<body style="background-color: #c3f8f8";>    
       
    <Div>  
        <pre> 
        <img src="../img/Perfil/Caio.jpg" alt="avatar" class="avatar">
                     Caio                          
                Aluno do curso de IPI              
        __________________________________________ 
        </pre><br>
        <pre>
        <img src="../img/Perfil/Jhonatas.jpg" alt="avatar" class="avatar">
                    Jhonatas
                Aluno do Curso de IPI        
        __________________________________________
        </pre><br>
        <pre>
        <img src="" alt="avatar" class="avatar">                                     
                       Fábio                    
                Aluno do curso de IPI           
        __________________________________________          
        </pre><br>
        <pre>
        <img src="../img/Perfil/Rita.jpg" alt="avatar" class="avatar">
                       Rita
                Aluna do curso de IPI
        __________________________________________
        </pre><br>
        <pre>
        <img src="../img/Perfil/Gleiciane.jpg" alt="avatar" class="avatar">  
                       Gleiciane                
                Aluna do curso de TSI           
        __________________________________________          
        </pre><br>
        <pre>
        <img src="" alt="avatar" class="avatar">
                       Zaqueeu
                Aluno do curso de IPI
        __________________________________________
        </pre><br>
        <pre>
        <img src="../img/Perfil/joaoPaulo.jpg" alt="avatar" class="avatar">
                     João Paulo
                Aluno do curso de TSI
        __________________________________________
        </pre>
    </Div>
    
</body>
</html>