<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>

    <link rel="stylesheet"  href="../css/style.css">
</head>

<header>
    <nav>
      <a class="logo" href="../index.html">Início</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a href="QuemSomos.html">Quem somos</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="jogo.html">Jogo Da Velha</a></li> 
      </ul>
    </nav>
</header>

<body>

  <p class="des">
    O  Nosso jogo da velha é diferente dos tradicionais em alguns sentidos:<br> 
       O jogo acontece em uma malha de 5 X 5 e não um 3 X 3 como se joga normalmente.<br>
    Além de ser necessário 4 x's ou bolas para vencer o jogo da velha. <br>
      Uma coisa não  muda em relação ao jogo da velha comum: a vitória acontece na vertical, horizontal ou diagonal.
  </p>

</body>

<script src="../js/mobile-navbar.js"></script>
</html>