<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>

    <link rel="stylesheet"  href="../css/style.css">
    
</head>

<header>
        <nav>
          <a class="logo" href="../index.html">Projeto - Jogo da velha</a>
          <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li><a href="../index.html">Início</a></li>
            <li><a href="sobre.html">Sobre os Alunos</a></li>
            <li><a href="jogo.html">Jogo</a></li>           
          </ul>
        </nav>
</header>
        
<body >    
    <main>
    <Div>  
        <pre class="persona1" style="float: left; margin-top: 20px;"> 
        <img src="../img/Perfil/Caio.jpg" alt="avatar" class="avatar" style="margin-top: -15px;">
    <b> Caio de Sousa Alves                          
    Aluno do curso de IPI              
        </pre><br>
        <pre class="persona2" style="float: left;">
        <img src="../img/Perfil/Jhonatas.jpg" alt="avatar" class="avatar">
     
     Jonatas Cândido de Almeida
        Aluno do Curso de IPI        
        
        </pre><br>
        <pre class="persona3" style="float: left; margin-top: -20px;">        
        <img src="../img/Perfil/Fabio.jpg" alt="avatar" class="avatar" style="margin-top: -15px;">                                     
     Fabio jose de lima arruda                    
       Aluno do curso de IPI           
        
        </pre><br>
        <pre class="persona4" style="float: left; margin-top: 20px;">
        <img src="../img/Perfil/Rita.jpg" alt="avatar" class="avatar">
 Rita de Paula Rodrigues da Silva
        Aluna do curso de IPI
        
        </pre>
        <br>
        <pre class="persona5" style="float: left; margin-top: 20px;">
        <img src="../img/Perfil/Gleiciane.jpg" alt="avatar" class="avatar">  
 Gleiciane Bezerra Galdino da Silva               
        Aluna do curso de TSI           
                 
        </pre><br>
        <pre class="persona6" style="float: left; margin-top: 20px;">
        <img src="../img/Perfil/Zaqueu.jpg" alt="avatar" class="avatar">
    Zaqueu Batista da Silva
     Aluno do curso de IPI
        
        </pre><br>
        <pre class="persona7" style="float: left; margin-top: 20px;">
        <img src="../img/Perfil/joaoPaulo.jpg" alt="avatar" class="avatar">
   João Paulo Pereira Da Silva
     Aluno do curso de TSI
             
</pre>
    </Div>
 </main>
</body>
</html>